{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/dragula/dist/dragula.min.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/dragula/dist/dragula.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>

  <style type="text/css">
    .word-list {
      background-color: rgba(45, 46, 119, 0.72);
      padding: 10px;
      margin: 5px;
      min-height: 3em;
    }

    .word {
      display: inline-block;

      background-color: rgba(255, 143, 25, 1);
      padding: 5px;
      margin: 5px;
    }
  </style>
{% endblock %}
{% block content %}
  <h3>Word List (hint: they're draggable!)</h3>
  <div class="word-list source">

  </div>
  <h3>Combination Tray</h3>
  <div class="word-list destination">

  </div>
  <div class="combination-result">
    <h4></h4>
    <p></p>
  </div>
{% endblock %}
{% block body %}
  <script type="text/javascript">
    var words = [], nonwords = [];

    function shuffle(o){ //v1.0 [http://bit.ly/1l6LGQT]
      for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i),
        x = o[--i], o[i] = o[j], o[j] = x);
      return o;
    };

    var displayResponse = function (idx) {
      var resultTitleElement = document.querySelector('.combination-result h4');
      var resultDescriptionElement = document.querySelector('.combination-result p');

      if (idx != -1) {
        resultTitleElement.textContent = words[idx]['full_word'].split('|').join('');
        resultDescriptionElement.textContent = words[idx].description;
      } else {
        resultTitleElement.textContent = '';
        resultDescriptionElement.textContent = '';
      }
    };

    var populateTray = function () {
      var wordList = [];
      words.forEach(function (curr, idx, arr) {
        if (curr['full_word'] === '') {
          return;
        }

        // Split word out.
        var words = curr['full_word'].split('|');
        wordList = wordList.concat(words);
      });

      // Shuffle, and remove duplicated words.
      var wordList = new Set(shuffle(wordList));

      var wordListElement = document.querySelector('.source');
      wordList.forEach(function (curr, idx, arr) {
        var wordElement = document.createElement('div');
        wordElement.textContent = curr;
        wordElement.className = 'word';
        wordListElement.appendChild(wordElement);
      });

      // Make it draggable.
      var drake = dragula([document.querySelector('.source'), document.querySelector('.destination')]);
      drake.on('drop', function (el, target, source, sibling) {
        if (Array.from(target.classList).indexOf('source') !== -1) {
          target = document.getElementsByClassName('destination')[0];
        }

        var wordsInTray = Array.from(target.children).map(function (curr, idx, arr) {
          return curr.textContent;
        });

        // No further processing if no word.
        if (wordsInTray.length == 0) {
          return;
        }

        // Find the word index in words.
        var idx = -1;
        var word = wordsInTray.join('|');
        for (var i = 0; i < words.length; i++) {
          if (word === words[i].full_word) {
            idx = i;
            break;
          }
        }

        // In case we not find the word in the list.
        // Send a request to check for its existance on server.
        if (i == words.length) {
          // If word is already checked.
          if (nonwords.indexOf(word) != -1) {
            displayResponse(-1);
            return;
          }

          $.ajax('/search/' + word, {
            dataType: 'json',
            method: 'GET',
            success: function (recv_data, status) {
              // Check if it is a word,
              // and also save data, so we don't have to send another request.
              if (recv_data.length == 1) {
                words.push(recv_data[0]);
                displayResponse(words.length - 1);
              } else {
                nonwords.push(word);
              }
            }
          });
        }

        // Display the response.
        displayResponse(idx);
      });
    };

    // Load data.
    $.ajax('{{ url_for("get_words_in_set", set_id=set_id) }}', {
      dataType: 'json',
      method: 'GET',
      success: function (recv_data, status) {
        words = recv_data;
        populateTray();
      }
    });
  </script>
{% endblock %}
